

<main>
    <section class="section section-shaped section-lg">
     <!-- <div class="shape shape-style-1 bg-gradient-default">-->
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-12">

            <div class="card bg-secondary shadow border-0">
              
              <app-add-edit-reg-prescription ></app-add-edit-reg-prescription>
<!--
              <div class="card-header bg-white">
                <div class="text-muted text-center mb-2">
                  <medium>Your Archives</medium>
                </div>               
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <app-show-prescription></app-show-prescription>
              </div>
              -->
            </div>
           
          </div>
        </div>
      </div>
    </section>
  </main>